@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-family: "Ubuntu", sans-serif;
}
container {
    margin-top: 70px;
}
.button-box {
    text-align:right;
    margin-top:20px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
